<div class="topnav" id="myTopnav">
  <div class="nav-brand">
    <%= image_tag("logo.png", alt: "Logo", class: "logo") %>
    <div class="text">
      <div class="line1">GRANITE</div>
      <div class="line2">Auction</div>
    </div>
  </div>

  <% if user_signed_in? %>
    <%if current_user&.admin? %>
      <%= link_to dashboard_path, class: "mobile-only-menu" do %>
        <%= image_tag("category.png", alt: "Logo", class: "logo", style: "width: 20px; padding: 2%;") %>Dashboard
      <% end %>

      <%= link_to cars_path, class: "mobile-only-menu" do %>
        <%= image_tag("car.png", alt: "Logo", class: "logo", style: "width: 25px; padding: 2%;") %>Stock
      <% end %>

      <%= link_to auctions_path, class: "mobile-only-menu" do %>
        <%= image_tag("judge.png", alt: "Logo", class: "logo", style: "width: 25px; padding: 2%;") %>Auction
      <% end %>

      <%= link_to users_path, class: "mobile-only-menu" do %>
        <%= image_tag("profile-2user.png", alt: "Logo", class: "logo", style: "width: 25px; padding: 2%;") %>Users
      <% end %>

      <%= link_to new_car_path, class: "mobile-only-menu" do %>
        <%= image_tag("car.png", alt: "Logo", class: "logo", style: "width: 25px; padding: 2%;") %>Add Car To Stock
      <% end %>

    <% else %>
      <a href="/car_collection">Cars</a>
      <% unless current_user.verification_completed? %>
        <a href="<%= user_verification_path %>">Account Verification</a>
      <% end %>
    <% end %>
    
    <%= link_to(image_tag("profile-tick.png", alt: "Logo", class: "logo") + " Logout", destroy_user_session_path, method: :delete, class: "signup-button mobile-only-menu") %>

  <% else %>
    <a href="<%= root_path %>">Home</a>
    <a href="#about">About</a>
    <a href="#contact">Contact</a>
    <a href="/car_collection">Cars</a>
    <a href="/users/sign_up" class="signup-button mobile-only-menu"> Sign Up </a>
    <a href="/users/sign_in" class="signup-button mobile-only-menu"> Login </a>
  <% end %>

  <div class="nav-buttons">
    <% if user_signed_in? %>
      <%= link_to(image_tag("profile-tick.png", alt: "Logo", class: "logo") + " Logout", destroy_user_session_path, method: :delete, class: "signup-button") %>
    <% else %>
      <a href="/users/sign_up" class="signup-button"> <%= image_tag("profile.png", alt: "Logo", class: "logo") %> Sign Up </a>
      <a href="/users/sign_in" class="signup-button"> <%= image_tag("profile-tick.png", alt: "Logo", class: "logo") %> Login </a>
    <% end %>
  </div>


  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>

<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>
