<div class="car-collection-container">
  <div class="banner-container">
    <div class="banner-text">
      Looking for a specific make, model, or year? Use our search bar to
      streamline your journey to the perfect vehicle. Type in keywords, brands,
      or features you desire, and let MotorAuction instantly connect you with
      the car of your dreams.
    </div>
    <div class="banner-title">Find Your Perfect Ride</div>
  </div>
  <%= form_with(url: car_search_path, method: "get", class: "search-form") do |form| %>
    <%= form.text_field :make, class: "search-text form-control", placeholder: "Car Make or Model" %>
    <%= form.select :city,
                options_for_select(@locations || []), # Guarding against nil
                { include_blank: "Select Location" },
                class: "search-dropdown form-control" %>


    <% price_range_value = form.object.nil? ? nil : form.object.price_range %>
    <%= form.select :price_range, options_for_select(["Price Range", "< £2500", "£2501 - £5000", "£5001 - £10,000", "£10,001 - £20,000", ">£20,001"], form.object.nil? ? nil : form.object.price_range), {}, class: "search-dropdown form-control" %>
    <button type="submit" class="search-submit-button btn btn-primary">
      <%= image_tag("search-normal.svg", alt: "Logo", class: "submit-logo") %>
      <span class="submit-text">Search</span>
    </button>
  <% end %>
  <div>
    <div class="vehicle-type">
      <% @vehicle_types.each do |type| %>
        <a href="<%= car_search_path(name: type[:name]) %>" class="vehicle-type-card">
          <%= image_tag(type[:icon], alt: type[:name], class: "vehicle-logo") %> <%= type[:name] %>
        </a>
      <% end %>
    </div>
    <%= link_to car_search_path, class: "btn advance-filter-button" do %>
      Advanced Filters
    <% end %>
  </div>
  <div class="banner-container bid-container">
    <div class="banner-title bid-title">Thrilling Bids, Exclusive Wins</div>
    <div class="banner-text">
      Welcome to our "Buy Now" section, where you can find a handpicked selection of vehicles available for immediate purchase. Skip the bidding process and own your dream car with just a click.
    </div>
  </div>
  <div class="vehicle-type vehicle-wrapper">
    <% @cars.each do |car| %>
      <div class="vehicle-card">
        <% if car.image.attached? %>
          <%= image_tag(car.image, alt: "Logo", class: "vehicle-image") %>
        <% else %>
          <%= image_tag("no-image.jpg", alt: "no-image", class: "vehicle-image") %>
        <% end %>
        
        <div class="vehicle-details">
          <div class="vehicle-text"><%="#{car.make}, #{car.model}"%></div>
          <div>
            <div class="vehicle-label">SPEC</div>
            <div class="vehicle-text"><%= car.year %> | <%= car.kms_driven %> KM | <%= car.engine_capacity %>CC</div>
          </div>
          <div>
            <div class="vehicle-label">AUCITON END TIME</div>
            <% remaining_time = (car.auction_end_time - Time.now).to_i %>
            <div class="vehicle-text">
              <%= "%02d" % (remaining_time / 86400) %> DAYS <%= "%02d" % ((remaining_time % 86400) / 3600) %> HOURS <%= "%02d" % ((remaining_time % 3600) / 60) %> MINS
            </div>
          </div>
          <button id="bidButton" type="button" class="btn bid-button d-flex justify-content-center" data-toggle="modal" data-target="#bidModal" data-car-id="<%= car.id %>">
            Bid
          </button>
        </div>
      </div>
    <% end %>
  </div>
  <%= will_paginate @cars %>
  <div class="banner-container">
    <div class="banner-text">
      Welcome to our "Buy Now" section, where you can find a handpicked selection of vehicles available for immediate purchase. Skip the bidding process and own your dream car with just a click.
    </div>
    <div class="banner-title buy-title">Instant Gratification, Seamless Purchase</div>
  </div>
  <div class="vehicle-type vehicle-wrapper">
    <% @cars.each do |car| %>
      <div class="vehicle-card">
        <% if car.image.attached? %>
          <%= image_tag(car.image, alt: "Logo", class: "vehicle-image") %>
        <% else %>
          <%= image_tag("no-image.jpg", alt: "no-image", class: "vehicle-image") %>
        <% end %>
        <div class="vehicle-details">
          <div class="vehicle-text"><%="#{car.make}, #{car.model}"%></div>
          <div>
            <div class="vehicle-label">SPEC</div>
            <div class="vehicle-text"><%= car.year %> | <%= car.kms_driven %> KM | <%= car.engine_capacity %>CC</div>
          </div>
          <div>
            <div class="vehicle-label">AUCITON END TIME</div>
            <% remaining_time = (car.auction_end_time - Time.now).to_i %>
            <div class="vehicle-text">
              <%= "%02d" % (remaining_time / 86400) %> DAYS <%= "%02d" % ((remaining_time % 86400) / 3600) %> HOURS <%= "%02d" % ((remaining_time % 3600) / 60) %> MINS
            </div>
          </div>
          <%= form_with(url: car_buy_path(car), method: :post, class: 'd-flex justify-content-center') do |form| %>
            <%= form.submit "Buy Now", class: "btn bid-button" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <%= will_paginate @cars %>
</div>
<!-- render bid modal -->
<%= render 'shared/bid_modal' %>