<style>
  .inner_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 23%;
    padding: 5%;
    text-align: center;
    background: white;
    border: none;
    border-radius: 13%;
    box-shadow: 0 4px 11px 10px rgba(0, 0, 0, 0.1);
  }

  .header-wrapper {
    display: flex;
    flex-wrap: wrap;
    background: #F4F7FE;
    justify-content: space-between;
    align-items: center;
  }

  .text-headings {
    font-size: 64px;
    font-weight: bold;
    text-align: left;
    line-height: 1.3;
    color: #2B4159;
  }

  .inner-style{
    margin: 0;
  }

  .card-wrapper {
    display: flex;
    flex-wrap: wrap;
    background: #F4F7FE;
    justify-content: center;
    gap: 2%;
    padding: 4rem 5rem;
  }

  .header-description {
    display: flex;
    width: 40%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .description-styling{
    width: 65%;
  }

  .heading-styling{
    width: 50%;
  }

  .hero-image{
    width: 100%;
    height: auto;
  }

  .description-text {
    text-align: left;
    line-height: 1.3;
    font-size: 18px; 
    color: #2B4159;
  }

  .button-style {
    border-radius: 20px;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    background-color: #2B4159;
    color: white;
    display: inline-flex;
    align-self: baseline;
    margin-top: 10px;
    text-decoration: none;
    gap: 6px;
  }

  .button-style:hover {
    color: white;
  }

  .reversing{
    align-items: center;
  }

  .map-image{
    width: 49%;
  }

  @media screen and (max-width: 768px) { /* Adjust the breakpoint as needed */
    .inner_box {
      width: 100%;
    }

    .inner-style{
      margin-top: 20%;
    }

    .reversing{
      flex-direction: column-reverse;
    }

    .header-wrapper{
      padding: 0;
    }

    .imagelogo{
      display: none;
    }

    .header-description{
      width: 100%;
    }

    .description-styling{
      width: 100%;
    }

    .heading-styling{
      width: 100%;
    }

    .text-headings{
      font-size: 25px;
      font-weight: bold;
      text-align: left;
      line-height: 1.3;
      color: #2B4159;
    }

    .question{
      display: flex;
      flex-direction: column;
    }

    .map-image{
      width: 100%;
      margin-bottom: 5%;
    }
  }
</style>

<div class="header-wrapper p-5">
  <div class="heading-styling" style="display: flex; flex-direction: column; align-items: center;">
    <h1 class="text-headings">Unlock the Road to Your Dream Car with Granite Auctions</h1>  
  </div>
  
  <div class="header-description">
    <h7 class="description-text">Discover a world of automotive possibilities at your fingertips. From classic cruisers to sleek speedsters, we make your dream ride a reality.</h7>
    <a class="button-style"> Learn More </a>
  </div>
</div>

<div>
	<%= image_tag("banner.png", alt: "Logo", class: "hero-image") %>
</div>


<div class="header-wrapper pe-5 mt-3">
  <div style="display: flex; flex: 1; justify-content: end;">
    <h1 class="text-headings">Seamless Journey to <br>Your Perfect Vehicle</h1>
  </div>
</div>

<div class="card-wrapper p-5">
  <div class="inner_box">
    <%= image_tag("profile-2user.png", alt: "imagelogo", class: "") %>
    <br>
    <h1>Register</h1>
    <p>Create your MotorAuction account effortlessly.</p>
  </div> 

  <div class="inner_box inner-style" >
    <%= image_tag("search-status.png", alt: "imagelogo", class: "") %>
    <br>
    <h1>Browse</h1>
    <p>Create your MotorAuction account effortlessly.</p>
  </div> 

  <div class="inner_box inner-style">
    <%= image_tag("judge.png", alt: "imagelogo", class: "") %>
    <br>
    <h1>Bid</h1>
    <p>Create your MotorAuction account effortlessly.</p>
  </div> 

  <div class="inner_box inner-style">
    <%= image_tag("wallet-minus.png", alt: "imagelogo", class: "") %>
    <br>
    <h1>Pay</h1>
    <p>Create your MotorAuction account effortlessly.</p>
  </div> 
</div>

<div class="header-wrapper p-5">
  <div class="heading-styling" style="display: flex; flex-direction: column; align-items: center;">
    <h1 class="text-headings">Find Your Perfect Ride at Granite Auctions</h1>  
  </div>
  
  <div class="header-description">
    <h7 class="description-text">Ready to embark on a thrilling journey to your dream vehicle? Join Granite Auctions today and gain access to exclusive auctions, a diverse range of vehicles, and a seamless bidding experience. Your next adventure begins with just a click.</h7>

    <div style="display: flex; align-self: baseline; gap: 10px">
      <a href="/users/sign_up" class="button-style"> <%= image_tag("profile.svg", alt: "Logo", class: "imagelogo") %> Sign up </a>
      <a href="/users/sign_up" class="button-style"> <%= image_tag("profile-tick.png", alt: "Logo", class: "imagelogo") %> Login </a>
    </div>
  </div>
</div>

<div>
  <%= image_tag("banner2.png", alt: "Logo", class: "hero-image") %>
</div>


<div class="header-wrapper p-5">
  <div class="heading-styling" style="display: flex; flex-direction: column; align-items: center;">
    <h1 class="text-headings">Rev Up Your Business With Granite Auctions</h1>  
  </div>
  
  <div class="header-description">
    <h7 class="description-text">Are you a garage with a passion for automobiles? Join Granite Auctions as a partner and showcase your inventory to a global audience. Increase visibility, attract more buyers, and boost your sales. Partner with us and drive success!</h7>

    <div style="display: flex; align-self: baseline; gap: 10px">
      <a href="/users/sign_up" class="button-style">Sign up </a>
      <a href="/about" class="button-style">Contact Us </a>
    </div>
  </div>
</div>

<div>
  <%= image_tag("banner3.png", alt: "Logo", class: "hero-image") %>
</div>

  
<div class="reversing header-wrapper p-5">
  <div class="header-description">
    <h7 class="description-text description-styling">Whether you're a garage looking to partner with us or a user seeking support, our team is here to help. Reach out to us for any inquiries, feedback, or assistance. Your satisfaction is our priority.</h7>
  </div>

  <div class="heading-styling" style="display: flex; flex-direction: column; align-items: center;">
    <h1 class="text-headings">Have Questions or Need Assistance?</h1>  
  </div>
</div>

<div style="gap: 2%" class="question header-wrapper p-5 pt-0">
  <div class="p-3 map-image" style="background: #DBE0EB; border-radius: 20px;">
    <h1>Granite Auction Headquarters:</h1>
    <p>123 Drive Lane,<br>Auto City, AC 56789</p>

    <h1>Customer Support</h1>
    <p>Email: support@graniteauction.com<br>Phone: (555) 123-4567</p>

    <h1>Business Inquiries:</h1>
    <p>Email: partnerships@graniteauction.com<br>Phone: (555) 987-6543</p>
  </div>

  <div class="map-image">
    <div id="map" class="rounded-4" style="height: 400px;"></div>
  </div>
  
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var map = L.map('map').setView([54.1786, -6.3370], 13); // Set coordinates for Newry and zoom level
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 19,
      attribution: 'Granite Auctions'
    }).addTo(map);

    L.marker([54.17, -6.33]).addTo(map)
    .bindPopup('Granite Auctions')
    .openPopup();
  });

</script>
