<style>
  .inner_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 23%;
    padding: 5%;
    text-align: center;
    background: white;
    border: none;
    border-radius: 13%;
    box-shadow: 0 4px 11px 10px rgba(0, 0, 0, 0.1);
  }

  .header-wrapper {
    display: flex;
    flex-wrap: wrap;
    background: #F4F7FE;
    padding: 4rem 5rem;
    justify-content: space-between;
    align-items: flex-start;
  }

  .text-headings {
    font-size: 64px;
    font-weight: bold;
    text-align: left;
    line-height: 1.3;
    color: #2B4159;
  }

  .card-wrapper {
    display: flex;
    flex-wrap: wrap;
    background: #F4F7FE;
    justify-content: center;
    gap: 2%;
    padding: 4rem 5rem;
  }

  .header-description {
    display: flex;
    max-width: 414px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .description-text {
    text-align: left;
    line-height: 1.3;
    font-size: 18px; 
    color: #2B4159;
  }

  .button-style {
    border-radius: 20px;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    background-color: #2B4159;
    color: white;
    display: inline-flex;
    align-self: baseline;
    margin-top: 10px;
    text-decoration: none;
    gap: 6px;
  }

  .button-style:hover {
    color: white;
  }

  @media screen and (max-width: 768px) { /* Adjust the breakpoint as needed */
    .inner_box {
      width: 60%;
      margin: 5% 0; /* Adjust the margin for smaller screens */
    }
  }
</style>

<div class="header-wrapper">
  <div style="display: flex; flex-direction: column; align-items: center;">
    <h1 class="text-headings">Unlock the Road to<br> Your Dream Car with<br> Granite Auctions</h1>  
  </div>
  
  <div class="header-description">
    <h7 class="description-text">Discover a world of automotive possibilities at your fingertips. From classic cruisers to sleek speedsters, we make your dream ride a reality.</h7>
    <a class="button-style"> Learn More </a>
  </div>
</div>

<div>
	<%= image_tag("banner.png", alt: "Logo", class: "logo", style: "width: 100%; height: 500px") %>
</div>

<div class="header-wrapper">
  <div style="display: flex; flex: 1; justify-content: end;">
    <h1 class="text-headings">Seamless Journey to <br>Your Perfect Vehicle</h1>
  </div>
</div>

<div class="card-wrapper">
  <div class="inner_box">
    <%= image_tag("profile-2user.png", alt: "Logo", class: "logo") %>
    <br>
    <h1>Rigister</h1>
    <p>Create your MotorAuction account effortlessly.</p>
  </div> 

  <div class="inner_box" >
    <%= image_tag("search-status.png", alt: "Logo", class: "logo") %>
    <br>
    <h1>Browse</h1>
    <p>Create your MotorAuction account effortlessly.</p>
  </div> 

  <div class="inner_box">
    <%= image_tag("judge.png", alt: "Logo", class: "logo") %>
    <br>
    <h1>Bid</h1>
    <p>Create your MotorAuction account effortlessly.</p>
  </div> 

  <div class="inner_box">
    <%= image_tag("wallet-minus.png", alt: "Logo", class: "logo") %>
    <br>
    <h1>Pay</h1>
    <p>Create your MotorAuction account effortlessly.</p>
  </div> 
</div>

<div class="header-wrapper">
  <div style="display: flex; flex-direction: column; align-items: center;">
    <h1 class="text-headings">Find Your Perfect<br> Ride at Granite<br> Auctions</h1>  
  </div>
  
  <div class="header-description">
    <h7 class="description-text">Ready to embark on a thrilling journey to your dream vehicle? Join Granite Auctions today and gain access to exclusive auctions, a diverse range of vehicles, and a seamless bidding experience. Your next adventure begins with just a click.</h7>
    <br>
    <div style="display: flex; align-self: baseline; gap: 10px">
      <a href="/users/sign_up" class="button-style"> <%= image_tag("profile.svg", alt: "Logo", class: "logo") %> Sign up </a>
      <a href="/users/sign_up" class="button-style"> <%= image_tag("profile-tick.png", alt: "Logo", class: "logo") %> Login </a>
    </div>
  </div>
</div>

<div>
  <%= image_tag("banner2.png", alt: "Logo", class: "logo", style: "width: 100%; height: 500px") %>
</div>

<div class="header-wrapper">
  <div class="header-description">
    <h7 class="description-text">Explore our curated selection of standout vehicles, each with its own unique story. From luxury sedans to rugged off-roaders, find the ride that suits your style.</h7>
    <a class="button-style"> View All</a>
  </div>

  <div style="display: flex; flex-direction: column; align-items: center;">
    <h1 class="text-headings">Top Picks of the<br> Week</h1>  
  </div>
</div>



<div class="header-wrapper">
  <div style="display: flex; flex-direction: column; align-items: center;">
    <h1 class="text-headings">Rev Up Your<br> Business With<br> Granite Auctions</h1>  
  </div>
  
  <div class="header-description">
    <h7 class="description-text">Are you a garage with a passion for automobiles? Join Granite Auctions as a partner and showcase your inventory to a global audience. Increase visibility, attract more buyers, and boost your sales. Partner with us and drive success!</h7>
    <br>
    <div style="display: flex; align-self: baseline; gap: 10px">
      <a href="/users/sign_up" class="button-style">  Sign up </a>
      <a href="/users/sign_up" class="button-style"> Contact Us </a>
    </div>
  </div>
</div>

<div>
  <%= image_tag("banner3.png", alt: "Logo", class: "logo", style: "width: 100%; height: 500px") %>
</div>

  

