<style>
  .custom-select {
    height: 25px; 
    width: 100%;
    border:none;
    border-radius: 25px;
    
  }

  .edit-color{
    background: white;
  }

  .new-color{
    background: #F4F7FE;
  }

  .custom-select-select {
    height: 40px; 
    width: 100%;
    border:none;
    border-radius: 25px;
  }

  .file-upload-box {
    border: 2px dashed #CCCCCC;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }

  .file-upload-box:hover {
    border-color: #2B4159;
  }

  .file-upload-box input[type="file"] {
    display: none;
  }

  #image-preview {
    display: content;
    max-width: 100%;
    margin-top: 10px;
  }
</style>

<script>
  function previewImage(input) {
    var preview = document.getElementById('image-preview');
    preview.innerHTML = '';

    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        var img = document.createElement('img');
        img.src = e.target.result;
        img.style.maxWidth = '100%'; // Adjust image styling as needed
        img.style.maxHeight = '300px'; // Adjust image styling as needed
        preview.appendChild(img);
      }

      reader.readAsDataURL(input.files[0]);
    }
  }
</script>

<div style="padding: 5%; width: 100%;">
<h1>Car Details</h1>
<%= form_with(model: car, url: car.persisted? ? car_path(car) : cars_path) do |form| %>

  <div class="file-upload-box">
    <label for="image" style="display: flex; align-items: center;">
      <%= image_tag("note-2.png", alt: "identification-icon", class: "logo", style: "width: 50px; height: 50px;") %>Add Car Image
      <br>
      <%= form.file_field :image, id: "image", name: "image", onchange: "previewImage(this)" %>
    </label>
  </div>
  <br>

  <div id="image-preview">
    <%if car.persisted? %>
      <% if car.image.attached? %>
        <%= image_tag url_for(car.image), class: "", style: "max-width: 100%;" %>
      <% end %>
    <%end%>
  </div>

  <br>

  <div>
    <%= form.label :make_model %><br>
    <%= form.text_field :make_model, class: "custom-select #{(car.persisted? || myClass )? 'edit-color' : 'new-color'}", required: true %>
  </div>
  <br>

  <div>
    <%= form.label :year %><br>
    <%= form.text_field :year, class: "custom-select #{(car.persisted? || myClass )? 'edit-color' : 'new-color'}", required: true %>
  </div>
  <br>

  <div>
    <%= form.label :engine_capacity %><br>
    <%= form.text_field :engine_capacity, class: "custom-select #{(car.persisted? || myClass )? 'edit-color' : 'new-color'}", required: true %>
  </div>
  <br>

  <div>
    <%= form.label :KMs_driven %><br>
    <%= form.text_field :kms_driven, class: "custom-select #{(car.persisted? || myClass )? 'edit-color' : 'new-color'}", required: true %>
  </div>
  <br>


  <div>
    <%= form.label :reserve_auction_price %><br>
    <%= form.number_field :reserve_auction_price, class: "custom-select #{(car.persisted? || myClass ) ? 'edit-color' : 'new-color'}", required: true %>
  </div>
  <br>
  <div>
    <%= form.label :buy_now_price %><br>
    <%= form.number_field :buy_now_price, class: "custom-select #{(car.persisted? || myClass ) ? 'edit-color' : 'new-color'}", required: true %>
  </div>
  <br>
  <div>
    <%= form.label :description %><br>
    <%= form.text_field :description , class: "custom-select #{(car.persisted? || myClass ) ? 'edit-color' : 'new-color'}", required: true %>
  </div>
  <br>
  <div>
    <%= form.label :salvage_category_id %>
    <br>
    <%= form.collection_select(:salvage_category_id, SalvageCategory.all, :id, :name, {}, {class: "custom-select-select #{(car.persisted? || myClass ) ? 'edit-color' : 'new-color'}"})  %>
  </div>
  <br>
  <div>
    <%= form.label :category_id %>
    <br>
    <%= form.collection_select(:category_id, Category.all, :id, :name, {}, {class: "custom-select-select #{(car.persisted? || myClass ) ? 'edit-color' : 'new-color'}"})  %>
  </div>
  <br>
  <div>
    <%= form.label :location %><br>
    <%= form.text_field :location , class: "custom-select #{(car.persisted? || myClass ) ? 'edit-color' : 'new-color'}", required: true %>
  </div>
  <br>
  <div>
    <%= form.label :delivery_cost %><br>
    <%= form.number_field :delivery_cost, class: "custom-select #{(car.persisted? || myClass ) ? 'edit-color' : 'new-color'}", required: true %>
  </div>
  <br>
  <br>
  <div>
   <%= form.submit car.persisted? ? 'Update Car' : 'Create Car', style: "background: #2B4159; color: white; width: 100%; border: none; border-radius: 25px; height: 40px;" %>
  </div>
<% end %>

</div>
